<div class="login-page">
  <spinner [isDisplayed]="loginServices.isLoggingIn()" />

  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="loginInfo.email" name="email" matNativeControl />
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginInfo.password"
        name="password"
      />
    </mat-form-field>

    <br />
    <div class="center">
      <button
        class="tertiary-button"
        mat-raised-button
        appearance="fill"
        type="submit"
        [disabled]="!loginInfo.isReadyToSubmit() || loginServices.isLoggingIn()"
      >
        Login
      </button>
    </div>
  </form>
</div>
