form {
  margin: auto;
  margin-top: 20vh;
  width: fit-content;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
}
mat-spinner {
  margin: auto;
  margin-top: 20vh;
}
mat-form-field {
  width: 400px;
}
