<div class="login-page">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup">
    <h1>Login</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
      />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
      />
    </mat-form-field>

    <br />
    <div class="center">
      <button
        class="tertiary-button"
        mat-raised-button
        appearance="fill"
        type="submit"
        [disabled]="loginFormGroup.invalid || loginServices.isLoggingIn()"
      >
        Login
      </button>
    </div>

    <p>
      Don't have an account yet? 
      <a routerLink="/register"><i>Register here!</i></a>
    </p>
  </form>
</div>
