<div class="route-container">
  <spinner [isDisplayed]="orderServices.isOrderSubmitting()"/>
  <div
    style="display: flex; align-items: flex-start"
    *ngIf="cartServices.countProducts() > 0"
  >
    <div style="display: inline-block; width: 70%">
      <h1>
        Your Cart
        <h2 style="display: inline; font-weight: lighter">
          ({{ cartServices.countProducts() }} items)
        </h2>
      </h1>
      <mat-divider />
      <div *ngFor="let product of cartServices.selectedProducts">
        <app-cart-product
          [product]="product"
          (onRemove)="onRemoveClick($event)"
        />
      </div>
    </div>
    <div id="os-container">
      <h2>Order Summary</h2>
      <h4>
        Subtotal
        <div class="prices">${{ cartServices.getSubtotal() }}</div>
      </h4>
      <h4>
        Estimated Shipping
        <div class="prices">$9.95</div>
      </h4>
      <h4>
        Estimated Total
        <div class="prices">${{ cartServices.getSubtotal() + 9.95 }}</div>
      </h4>
      <button mat-raised-button color="primary" (click)="onCheckOutClick()" [disabled]="orderServices.isOrderSubmitting()">
        Checkout
      </button>
    </div>
  </div>

  <h1 *ngIf="cartServices.countProducts() == 0">
    Your cart is empty. Click <a routerLink="/products">here</a> to go back to
    Products page.
  </h1>
</div>
