<div id="product-box" *ngIf="product">
  <a [routerLink]="['/products', product.id]">
    <img src="{{ product.photoUrl }}" alt="{{product.name}}"/>
  </a>
  <a [routerLink]="['/products', product.id]">
    <h3 style="font-weight: 600">{{ product.name }}</h3>
  </a>

  <mat-divider />

  <star [rating]="product.rating" />
  <h4 style="font-weight: 200">Item #{{ product.id }}</h4>
  <h4>${{ product.price }}</h4>

  <div id="quant-container">
    <p style="display: inline-block">Quantity</p>
    <quant-select
      [quant]="quantity"
      (onClick)="setQuantitySelect($event)"
    />
  </div>

  <mat-divider />

  <div class="but-container">
    <button mat-flat-button color="primary" (click)="onAddClick()">
      Add to cart
    </button>
  </div>
</div>