#product-box {
  border: 2px solid rgb(255, 227, 166);
  padding: 20px;
  height: 550px;
  width: 250px;
}

img {
  display: block;
  width: 200px;
  height: 15em;
}

a:hover {
  text-decoration: underline;
  color: lightgray;
  cursor: pointer;
}

.but-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
#quant-container {
  position: relative;
  font-size: larger;
  margin-bottom: 20px;
}

quant-select {
  margin-left: 50px;
}
