<div id="nav-bar">
  <div id="nav-links" *ngIf="!condenseNavLinks" >
    <a routerLink="home">Home <mat-icon fontIcon="home"/></a>
    <a routerLink="products">Products <mat-icon fontIcon="store"/></a>
    <a routerLink="support">Support <mat-icon fontIcon="help"/></a>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="condenseIcons">
      <mat-icon fontIcon="menu" />
    </button>
    
    <div *ngIf="!condenseIcons" id="screen-not-small-icons">
      <button mat-icon-button routerLink="cart">
        <mat-icon fontIcon="shopping_cart"
        matBadge="{{ numProducts }}"
        matBadgeHidden="{{ cartServices.selectedProducts.length == 0 }}"
          />
      </button>
      
      <button mat-icon-button routerLink="user">
        <mat-icon fontIcon="person_outline" inline="true"/>
      </button>

      <button mat-icon-button (click)="onAccountLogoClick()">
        <mat-icon fontIcon="{{loginServices.hasLoggedIn() ? 'logout' : 'login'}}" inline="true"/>
      </button>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <div *ngIf="condenseNavLinks">
      <a mat-menu-item routerLink="home">Home <mat-icon fontIcon="home"/></a>
      <a mat-menu-item routerLink="products">Products <mat-icon fontIcon="store"/></a>
      <a mat-menu-item routerLink="support">Support <mat-icon fontIcon="help"/></a>
    </div>
      <a mat-menu-item routerLink="cart">
        <mat-icon fontIcon="shopping_cart"
        matBadge="{{ numProducts }}"
        matBadgeHidden="{{ cartServices.selectedProducts.length == 0 }}"
          /> Cart
      </a>
      
      <a mat-menu-item routerLink="user">
        <mat-icon fontIcon="person_outline"/> User
      </a>

      <a mat-menu-item (click)="onAccountLogoClick()">
        <mat-icon fontIcon="{{loginServices.hasLoggedIn() ? 'logout' : 'login'}}"></mat-icon> {{loginServices.hasLoggedIn() ? 'Logout' : 'Login'}}
      </a>
  </mat-menu>
</div>
