<div id="top">
  <a routerLink="/">
    <img
      src="{{ headerImageLink }}shop_logo.jpg"
      id="shopLogo"
      alt="Shop logo"
    />
  </a>
  <a routerLink="/products" style="font-size: x-large; margin-left: 100px">
    Products
  </a>
  <a routerLink="/support" style="font-size: x-large; margin-left: 100px">
    Support
  </a>
  <div id="right">
    <a routerLink="cart">
      <i
        class="bi bi-cart4"
        id="cartLogo"
        matBadge="{{ cartServices.countProducts() }}"
        matBadgeHidden="{{ cartServices.countProducts() == 0 }}"
      ></i>
    </a>

    <img
      src="{{ headerImageLink }}{{loginServices.hasLoggedIn() ? 'account_logo' : 'login-icon'}}.jpg"
      id="accountLogo"
      alt="Account"
      (click)="onAccountLogoClick()"/>
  </div>
</div>
