.route-container {
  background-image: url('../../../assets/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#intro {
  margin: 100px auto;
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  color: rgb(55, 235, 0);
  line-height: 1.5em;
}
h1 > img {
  display: inline;
  width: 50px
}
button {
  margin: 0 20px;
  color: gray
}