img {
  display: block;
  height: 150px;
}
.tile-container {
  text-align: center;
}
h1 {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 233, 0);
  margin-bottom: 50px;
  text-decoration: underline;
}
.route-container {
  padding: 50px;
  background-image: "https://storage.googleapis.com/dat-e-commerce/image-welcome-page/farm.jpg"
}

h2 {
  margin-top: 30px;
}

mat-divider {
  margin-top: 70px;
  border: 0.5px rgb(128, 128, 128, 0.5) solid;
}
