<div class="route-container">
  <div *ngIf="loginServices.hasLoggedIn() && user">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>User Information</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Full name:</p>
        <p>Day of birth:</p>
        <p>User id:</p>
        <p>Join since:</p>
        <p>Email: {{user.email}}</p>
        <button mat-raised-button>
          Edit <mat-icon fontIcon="edit" />
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Address</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Payment</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Order</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <p *ngIf="!loginServices.hasLoggedIn()">
    You need to <span (click)="onLoginLinkClick()">login</span> to view this page.
  </p>
</div>