<div id="confirmation-product" *ngIf="orderedProduct">
  <img src="{{ orderedProduct.product.photoUrl }}" alt="{{orderedProduct.product.name}}"/>
  <div id="detail-container">
    <div style="text-align: left">
      <p style="font-weight: 600; font-size: larger">
        {{ orderedProduct.product.name }}
      </p>
      <p>Item #{{ orderedProduct.product.id }}</p>
      <p>Price: ${{ orderedProduct.product.price }}</p>
      <p>Quantity: {{ orderedProduct.quantity }}</p>
    </div>

    <p
      style="
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
      "
    >
      Total: ${{
        orderedProduct.quantity * orderedProduct.product.price
      }}
    </p>
  </div>
</div>
