<div id="top">
  <a routerLink="/welcome">
    <img src="{{ imageLinks['shop_logo'] }}" id="shopLogo" alt="Shop logo" />
  </a>
  <a routerLink="/products" style="font-size: x-large; margin-left: 100px">
    Products
  </a>

  <a routerLink="/support" style="font-size: x-large; margin-left: 100px">
    Support
  </a>
  <a routerLink="/blog" style="font-size: x-large; margin-left: 100px">
    Blog
  </a>
  <div id="right">
    <a routerLink="cart">
      <i
        class="bi bi-cart4"
        id="cartLogo"
        matBadge="{{ cartService.countProducts() }}"
        matBadgeHidden="{{ cartService.countProducts() == 0 }}"
      ></i>
    </a>

    <a routerLink="/welcome">
      <img src="{{ imageLinks['account_logo']}}" id="accountLogo" alt="Account" />
    </a>
  </div>
</div>
