/* You can add global styles to this file, and also import other style files */
/* regular style toast - critical to show toast */
@import 'ngx-toastr/toastr';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 200;

}
a,
a:active {
  text-decoration: none;
}
mat-divider {
  border: 0.5px solid lightgrey;
}
.route-container {
  position: relative;
  margin-top: 90px;
  padding: 10px;
  min-height: 100vh;
}
