#quant-select-container {
  position: relative;
  display: inline-block;
  height: fit-content;
}
input,
button {
  position: relative;
  width: 50px;
  height: 50px;
}

input {
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-top: solid;
  border-width: 0.5px;
  text-align: center;
  margin-left: -25px;
  margin-right: -25px;
  z-index: 2;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
}

#left {
  text-align: left;
  font-weight: 600;
}

#right {
  text-align: right;
}
