<div class="route-container">
  <!--<label>
  SORT BY 
  <mat-select></mat-select>
</label>-->
<div id="above-list">
  <mat-label style="float: right;">
    Filter by:
    <input matInput type="text" [(ngModel)]="nameFilter"/>
  </mat-label>
  
  <h2 style="float: left;">{{products.length}} RESULTS</h2>
</div>


<mat-grid-list [cols]="cols" gutterSize="10px" rowHeight="1:2">
 <ng-container *ngFor="let product of filteredProducts">
  <mat-grid-tile>
   <pb-root [product]="product"/>
   </mat-grid-tile>
 </ng-container>
</mat-grid-list>
</div>


