#cart-product-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
  padding: 10px;
  border-bottom: 0.5px rgb(196, 196, 196) solid;
}
img {
  position: relative;
  height: 100%;
}
#detail-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 10px;
}
i {
  display: inline-block;
  font-size: 30px;
  margin-left: 20px;
}
i:hover {
  cursor: pointer;
}
