<div id="cart-product-container" *ngIf="selectedProduct">
  <img src="{{ selectedProduct.product.photoUrl }}"/>
  <div id="detail-container">
    <p>{{ selectedProduct.product.name }}</p>
    <p>Item #{{ selectedProduct.product.id }}</p>
    <p>${{selectedProduct.product.price}}</p>
    <div style="display: flex; position: relative; align-items: center">
      <div style="display: flex; position: relative; align-items: center; width: 90%;">
        <quant-select [quant]="selectedProduct.quantity" (onClick)="setQuantitySelect($event)"/>
        <i (click)="onRemoveClick()" class="bi bi-trash2"></i>
      </div>
      <p style="position: relative; margin-top: auto;margin-bottom: auto; display:inline-block; width: 10%; text-align: end;">${{selectedProduct.quantity*selectedProduct.product.price}}</p>
  </div>
</div>

