#product-detail-page-container {
  display: flex;
  font-weight: 200;
  padding-top: 20px;
}
h1 {
  font-size: 45px;
  font-weight: 300;
}
img {
  width: 500px;
  margin-right: 100px;
}
#price {
  font-size: 24px;
  font-weight: 400px;
}
p {
  font-size: 18px;
  font-weight: 200px;
}
