<div class="route-container" id="product-page">
  <!--<label>
  SORT BY 
  <mat-select></mat-select>
</label>-->

  <div *ngIf="products">
    <div id="above-list">
      <h2>{{ products.length }} RESULTS</h2>
      
      <label>Filter:
        <input matInput type="text" [(ngModel)]="nameFilter" name="filter"/> 
      </label>
    </div>

    <mat-grid-list [cols]="cols" rowHeight="580px">
      <ng-container *ngFor="let product of products">
        <mat-grid-tile>
          <pb-root [product]="product" />
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

    <mat-paginator [length]="30"
              [pageSize]="pageSize"
              hidePageSize="true"
              aria-label="Select page"
              pageIndex="{{pageIndex}}"
              (page)="pageIndex = $event.pageIndex">
    </mat-paginator>
    
  </div>
</div>
