<div class="route-container" id="product-page">
  <!--<label>
  SORT BY 
  <mat-select></mat-select>
</label>-->
  <spinner [isDisplayed]="products.length == 0"/>

  <div *ngIf="products.length > 0">
    <div id="above-list">
      <h2>{{ filteredProducts.length }} RESULTS</h2>
      
      <label>Filter:
        <input matInput type="text" [(ngModel)]="nameFilter" name="filter"/> 
      </label>
    </div>

    <mat-grid-list [cols]="cols" rowHeight="580px">
      <ng-container *ngFor="let product of filteredProducts">
        <mat-grid-tile>
          <pb-root [product]="product" />
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>
</div>
